<div class="rdformsFieldInput">
  <span data-dojo-attach-point="yearsLabelNode">Years</span>&nbsp;<div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="yearsSpinner" style="width: 5em;" data-dojo-props="value:0,constraints:{min: 0, places: 0}"></div>
  &nbsp;&nbsp;<span data-dojo-attach-point="monthsLabelNode">Months</span>&nbsp;<div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="monthsSpinner" style="width: 5em;" data-dojo-props="value:0,constraints:{min: 0, max: 12, places: 0}"></div>
  &nbsp;&nbsp;<span data-dojo-attach-point="daysLabelNode">Days</span>&nbsp;<div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="daysSpinner" style="width: 5em;" data-dojo-props="largeDelta:7,value:0,constraints: {min: 0, max: 31, places: 0}"></div>
  &nbsp;&nbsp;<span data-dojo-attach-point="hoursLabelNode">Hours</span>&nbsp;<div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="hoursSpinner" style="width: 5em;" data-dojo-props="largeDelta:6,value:0,constraints:{min: 0, max: 24, places: 0}"></div>
  &nbsp;&nbsp;<span data-dojo-attach-point="minutesLabelNode">Minutes</span>&nbsp;<div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minutesSpinner"  style="width: 5em;" data-dojo-props="largeDelta:10, value:0,constraints:{min: 0, max: 60, places: 0}"></div>
</div>
