body {
    background: #f1f1f1;
    height: 100%;
}
body>div.main {
    margin: auto;
    height: 100%;
    width: 800px;
    background: white;
    padding: 20px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
}
h1 {
    border-bottom: 2px solid darkgrey;
    color: darkgrey;
    margin-bottom: 30px;
}